nav ul {
display: inline-flex;
list-style-type: none;
column-gap: 5px;
padding: 0px;
margin: 0px;
color: #FFFFFF;
position: relative;
flex-wrap:wrap;
}

nav li {
display: inline-block;
border: 0px;
background: #81B29A;
width: 200px;
position: relative;
padding-top: 10px;
padding-bottom: 10px;
margin: 0px;
text-align: center;
color: #FFFFFF;
}

nav ul li ul {
    display: none;
    list-style-type: none;
    flex-direction: column;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    color: #FFFFFF;
}

nav ul li:hover ul {
    display: flex;
}